.--inline {
    display: inline-block !important;
    background: #036 !important;
    border-bottom: 5px solid #06f;
    color: #ddd !important;
    font-size: 1.2em;
    font-weight: 600;
}

/**
Sections
 */

.section {
    padding: 2.5em;
    background: #eee;
}

.section header {
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.--menu {
    position:fixed;
    left:0;
    height: 100%;
}

.s-content {
    clear: both;
    display: table;
}

.s-content ul li {
    margin: 1em;
}

.--top {
    padding-top: 8em;
}

.--top-medium {
    padding-top: 2.5em;
}

.--mb-left {
    margin-left: 35em;
}

.--static {
    margin-left: 20em;
    padding-top: 2.5em;
}


/**
Reset default
 */

ul li {
    list-style: none;
}