<section class="section --menu">
    <div class="container-fluid">
        <div class="row">
            <header>
                <h2>Acesso rápido</h2>
            </header>
            <div class="s-content">
                <ul>
                    {% if is_granted ('IS_AUTHENTICATED_FULLY') %}

                        <li>
                            <a href="{{ path('admin.dashboard.index') }}" title="Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ path('admin.owners.index') }}" title="Sócios">Sócios</a>
                        </li>
                        {% if is_granted ('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin.companies.index') }}" title="Empresas">Empresas</a>
                            </li>
                            <li>
                                <a href="{{ path('admin.users.index') }}" title="Usuários">Usuários</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('auth.logout') }}" title="Sair">Sair</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('auth.login') }}" title="Acessar">Acessar</a>
                        </li>
                        <li>
                            <a href="{{ path('auth.create') }}" title="Cadastra-se">Cadastra-se</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>