{% extends 'admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container --static">
        <h1>Listando usuários</h1>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('admin.users.create') }}" class="btn btn-primary btn-lg pull-right" title="Adicionar Usuário">Adicionar Usuário</a>
            </div>
        </div>
        <table class="table table-striped table-hover mt-3">
            <thead>
            <tr>
                <th>Cod.</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
                <th>Nível</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>

            {% for result in results %}
                <tr>
                    <td>{{ result.id }}</td>
                    <td>{{ result.getFullName() }}</td>
                    <td>{{ result.getEmail() }}</td>
                    <td>{{ result.getStatusName() }}</td>
                    <td>{{ result.getRolesName() }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{{ path('admin.users.show', {'id' : result.id}) }}">Visualizar<i class="fa fa-eye"></i></a>
                        <a class="btn btn-sm btn-success" href="{{ path('admin.users.edit', {'id' : result.id}) }}">Editar<i class="fa fa-pencil"></i> </a>
                        <a class="btn btn-sm btn-danger bt_excluir_produto" href="{{ path('admin.users.delete', {'id' : result.id}) }}">Excluir<i class="fa fa-trash"></i> </a>
                    </td>
                </tr>
            {% endfor %}

            <script type="text/javascript">
                $(document).ready(function(){
                    $(".bt_excluir_produto").click(function(ev) {
                        ev.preventDefault();
                        var url = $(this).prop("href");
                        if (confirm("Dejesa excluir esse produto?")) {
                            window.location = url;
                        }
                    });
                });
            </script>

            </tbody>
        </table>
    </div>

{% endblock %}