<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%  block title %} Desafio - Quadro Societário {% endblock %}</title>
    {% include 'admin/partials/styles.html.twig' %}
</head>                             

<body class="bg-light">
{%  include 'admin/partials/nav.html.twig' %}
<main role="main" class="container">
    {%  include 'admin/partials/section-menu.html.twig' %}
    {% block content  %} {% endblock %}
</main>
{% include 'admin/partials/scripts.html.twig' %}
</body>
</html>
