{% extends 'admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container --static">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bem vindo, {{ app.user.getFirstName() }}</h4>
            <p>Esse projeto é open, vai ser encontrado no <a href="https://github.com/joaomarcusjesus" title="Git" target="_blank">Git</a>, valeu ;)</p>
            <hr>
        </div>
    </div>
{% endblock %}