{% extends 'admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container --static">
        <h2 class="text-left">Editar Empresa</h2>
        <div class="row">
            <div class="col-md-12">
                {% form_theme form with 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form,  {"attr": {"novalidate": "novalidate"}}) }}

                {{ form_row(form._token) }}

                <div class="form-row mt-3">
                    <div class="col-md-4">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_label(form.responsible) }}
                        {{ form_widget(form.responsible) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-md-6">
                        {{ form_label(form.fantasy) }}
                        {{ form_widget(form.fantasy) }}
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-md-12">
                        {{ form_label(form.status) }}
                        {{ form_widget(form.status) }}
                    </div>
                </div>

                <hr>

                {{ form_widget(form.enviar) }}

                <a href="{{ path('admin.companies.index') }}" class="btn btn-danger" title="Voltar">Voltar</a>
            </div>
        </div>
    </div>

{% endblock %}