{% extends 'admin/adminLayout.html.twig' %}

{% block content %}
    <div class="container --static">
        <h1>Visualizar Empresa</h1>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('admin.companies.index') }}" class="btn btn-danger btn-lg pull-right" title="Voltar">Voltar</a>
            </div>

            <div class="col-md-12 --top-medium">
                <div class="jumbotron">
                <p class="lead"><b>Nome</b>: {{ result.getName() }}</p>
                <p class="lead"><b>E-mail</b>: {{ result.getEmail() }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}