<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%  block title %} Desafio - Quadro Societário {% endblock %}</title>
    {% include 'front/partials/styles.html.twig' %}
</head>

<body class="bg-light">
    {%  include 'front/partials/nav.html.twig' %}
    {%  include 'front/partials/scroller.html.twig' %}
    <main role="main" class="container">
        {% block content  %} {% endblock %}
    </main>
    {% include 'front/partials/scripts.html.twig' %}
</body>
</html>
