{% extends 'front/frontLayout.html.twig' %}

{% block content %}
    <section class="section --menu">
        <div class="container-fluid">
            <div class="row">
                <header>
                    <h2>EXEMPLO DE MENU NO FRONT</h2>
                </header>
                <div class="s-content">
                    <ul>
                        <li>
                            <a href="" title="HOME">HOME</a>
                        </li>
                        <li>
                            <a href="" title="ABOUT">ABOUT</a>
                        </li>
                        <li>
                            <a href="" title="COMPANIES">COMPANIES</a>
                        </li>
                        <li>
                            <a href="" title="TEAMS">TEAMS</a>
                        </li>
                        <li>
                            <a href="" title="CONTACT">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}