<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark text-center --inline">
    <a class="navbar-brand mr-auto mr-lg-0" href="#">Vox Tecnologia  - Auth
    </a>
    <button class="navbar-toggler p-l-5 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
