<section class="section --menu --top">
    <div class="container-fluid">
        <div class="row">
            <header>
                <h2>Autentificação</h2>
            </header>
            <div class="s-content">
                <ul>
                    <li>
                        <a href="{{ path('auth.login') }}" title="Acessar">Acessar</a>
                    </li>
                    <li>
                        <a href="{{ path('auth.create') }}" title="Cadastre-se">Cadastre-se</a>
                    </li>
                    <li>
                        <a href="" title="Esqueci minha senha">Esqueci minha senha</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>