{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/bootstrap.min.css') }}">

    <!-- Principal CSS do Bootstrap -->
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/offcanvas.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/custom.css') }}">
    <!-- Principal CSS do Bootstrap -->
    <link rel="stylesheet" href="{{ asset('/bootstrap/css/login.css') }}">
{% endblock %}