<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%  block title %} Acessar {% endblock %}</title>
    {% include 'auth/partials/styles.html.twig' %}
</head>

<body class="text-center">
    {% include 'auth/partials/nav.html.twig' %}
    {% include 'auth/partials/section-menu.html.twig' %}
        {% block content  %} {% endblock %}
    {% include 'auth/partials/scripts.html.twig' %}
</body>
</html>
