{% extends 'auth/authLayout.html.twig' %}

{% block content %}
    
    <div class="container --mb-left">
        <h2 class="text-left">Cadastre-se</h2>
        <div class="row">
            <div class="col-md-12 col-md-offset-4">
                {% form_theme form with 'bootstrap_4_layout.html.twig' %}

                {{ form_start(form,  {"attr": {"novalidate": "novalidate"}}) }}

                {{ form_row(form._token) }}

                <div class="form-row mt-3">
                    <div class="col-md-4">
                        {{ form_label(form.first_name) }}
                        {{ form_widget(form.first_name) }}
                    </div>

                    <div class="col-md-4">
                        {{ form_label(form.last_name) }}
                        {{ form_widget(form.last_name) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <div class="form-row mt-3">
                    <div class="col-md-6">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </div>
                </div>
                <hr>

                {{ form_widget(form.enviar) }}

                <a href="{{ path('auth.login') }}" class="btn btn-danger">Voltar</a>
            </div>

        </div>
    </div>
{% endblock %}