{% extends 'auth/authLayout.html.twig' %}

{% block content %}

    <div class="container --static">

        <form class="form-signin" method="post" action="">
            <header class="text-center">
                <h2>Acessar</h2>
            </header>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <label for="email" class="sr-only">Endereço de e-mail</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" >
            <button class="btn btn-lg btn-secondary" type="submit">Entrar</button>

            <a href="{{ path('home.index') }}" class="btn btn-lg btn-danger" title="Voltar">Voltar</a>
        </form>

    </div>
{% endblock %}